---
interface Props {
    variant?: 'default' | 'vertical';
}

const hobbies = [
    "Mentoring",
    "Public Speaking",
    "Portrait Photography",
    "Aviation Photography",
    "Trekking",
    "Hiking",
];

import Hobbie from "./Hobbie.astro";

const baseClasses = "max-w-7xl gap-3 py-4 max-md:py-3";

const variants = {
    default: `${baseClasses} flex-wrap mx-auto max-md:gap-2 max-sm:gap-1 justify-start items-center flex flex-row`,
    vertical: `${baseClasses} max-sm:gap-2 justify-start items-start flex flex-col`
} as const;

const { variant = "default" } = Astro.props as Props;
const classes = variants[variant];
---

<div id="tags" class={classes}>
    {hobbies.map((hobby) => <Hobbie tag={hobby} />)}
</div>







