---
import Layout from "../../../layouts/Layout.astro";
import Languages from "../../../components/blog/Languages.astro";
import Heading from "../../../components/ui/Heading.astro";

const pageTitle = "Technologies"; // Fixed: Title was "Languages" but heading shows "Technologies"
const allPosts = await Astro.glob("../posts/*.md");
const languages = [
    ...new Set(allPosts.map((post) => post.frontmatter.languages).flat()),
];
---

<Layout pageTitle={pageTitle}>
    <section class="py-8">
        <div class="flex flex-col gap-8 max-w-3xl mx-auto">
            <Heading text="Technologies" />
            <Languages variant="vertical" languages={languages} /> <!-- Fixed: Missing languages prop -->
        </div>
    </section>
</Layout>
