---
import Layout from "../../../layouts/Layout.astro";
import Tags from "../../../components/blog/Tags.astro";
import Heading from "../../../components/ui/Heading.astro";

const pageTitle = "Tags";



---

<Layout pageTitle={pageTitle} >
  <section class="py-8">
    <div class="flex flex-col gap-8 max-w-3xl mx-auto">
      <Heading text="Tags"  />
      <Tags variant="vertical" />
    </div>
  </section>
</Layout>
