---
const {class: className} = Astro.props; 
import { Icon } from "astro-icon/components";
---
<div
  class={`flex justify-start items-center gap-2 text-blacktext dark:text-mint-50 ${className || ''}`}
>
  <span class="font-medium tracking-wider">Read more </span>
  <Icon name="arrow-left" class="size-4 rotate-180" />
</div>
